.main-nav {
  margin-top:10px;
  list-style: none;
  padding-left: 10px;
  background-color: #aaaaaa;

}

.main-nav__item {
  display: inline-block;
}

.main-nav__item a {
  color: white;
  padding: 5px;
  border-radius: 2px;
  text-decoration: none;
}

.main-nav__item a:hover { 
  color: #1d1d1d;
}

.main-nav_item a:active {
  color: red;
}

.main-nav__item a::after {
  content: " | ";
}
