/******************************************
*  Author : brxvn
*  Created On : Wed Sep 29 2021
*  File : style.css
*******************************************/
* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

html {
  font-size: 62.5%;
}

p {
  font-size: 1.6rem;
}